// p
.gaps-8 {
    gap: 8px !important;
}
.gaps-16 {
    gap: 16px !important;
}
.gaps-24 {
    gap: 24px !important;
}
.gaps-32 {
    gap: 32px !important;
}

.error-message {
    color: #FF3333;
    margin: 6px 0;
    font-size: 12px;
}

.MuiSelect-select {
    color: black !important;
}