.home-wrapper {
  margin: 16px;

  .input-table {
    .head-wrapper {
        .head {
            width: 200px;
            text-align: center;
        }
    }

    .body-wrapper {
        margin: 16px 0;
        padding: 8px;
        border: 1px solid #00000029;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        .body {
          width: 200px;

          .input-name {
            background: transparent;
          }
        }
    }

    .button-wrapper {
        margin: 24px 0;
    }
  }

  .result {
    margin-bottom: 16px;
  }
}
